CRS.Sync.Watcher.Service/Service References/WCFMobileServer/MyMobileServer3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MobileInter.Servers.MyDTO.OrderDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MobileInter.Servers.MyDTO.OrderDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19374/MyMobileServer.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/MobileInter.ThirdInterface.Service" />
  <xs:import schemaLocation="http://localhost:19374/MyMobileServer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MobileInter.Servers.AssistantCls" />
  <xs:complexType name="OrderGuaranteeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="GuaranteeChange_GuaranteeRuleType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GuaranteeChange_NeedCheckin24hour_hours" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GuaranteeChange_NeedCheckinTime_hours" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="GuaranteeChange_NeedSomeDay_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GuaranteeChange__needSomeDay_day" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Guarantee_Amount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Guarantee_DateType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Guarantee_Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guarantee_EndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Guarantee_EndTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Guarantee_GuaranteeType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Guarantee_IsAmountGuarantee" type="xs:boolean" />
      <xs:element minOccurs="0" name="Guarantee_IsTimeGuarantee" type="xs:boolean" />
      <xs:element minOccurs="0" name="Guarantee_IsTomorrow" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Guarantee_StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Guarantee_StartTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Guarantee_WeekSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Guarantee__GuaranteePayType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Order_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderGuaranteeDTO" nillable="true" type="tns:OrderGuaranteeDTO" />
  <xs:complexType name="ArrayOfEarliestLastestTimeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EarliestLastestTimeDTO" nillable="true" type="tns:EarliestLastestTimeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEarliestLastestTimeDTO" nillable="true" type="tns:ArrayOfEarliestLastestTimeDTO" />
  <xs:complexType name="EarliestLastestTimeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EarliestArriveTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GarateePrice" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MobileInter.ThirdInterface.Service" minOccurs="0" name="GuarateeType" nillable="true" type="q1:EnumGuaranteeMoneyType" />
      <xs:element minOccurs="0" name="IsNeedGuaratee" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastestArriveTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EarliestLastestTimeDTO" nillable="true" type="tns:EarliestLastestTimeDTO" />
  <xs:complexType name="OrderAndStateChangeParamsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="NewOrderStateInfoID" type="xs:int" />
      <xs:element minOccurs="0" name="OrderID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderAndStateChangeParamsDTO" nillable="true" type="tns:OrderAndStateChangeParamsDTO" />
  <xs:complexType name="OrderStateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="is_canReview" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="is_waitPayStatue" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="o_IsSendMail" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="o_IsSendSMS" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="o_NeedCheckInstantOrder" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="o_autoCheckAsyn" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="o_integral" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="o_isAccountOrder" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="o_isCancelOrder" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="o_isNotify" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="o_isPassStatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="o_isReadyOrder" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="o_isTemp" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="o_mailTemplate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="o_smsTemplate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="o_state_id" type="xs:int" />
      <xs:element minOccurs="0" name="o_state_time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="o_state_title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sort" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderStateDTO" nillable="true" type="tns:OrderStateDTO" />
  <xs:complexType name="OrderInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CashBack_price" type="xs:decimal" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MobileInter.Servers.AssistantCls" minOccurs="0" name="CashBack_status" nillable="true" type="q2:EnumCashbackStatus" />
      <xs:element minOccurs="0" name="ChannelID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EarliestArriveTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="H_room_rp_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="HotelBelong" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MobileInter.Servers.AssistantCls" minOccurs="0" name="HotelSourceFrom" type="q3:EnumHotelSourceFrom" />
      <xs:element minOccurs="0" name="Hotel_Tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hotel_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hotel_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hotel_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hotel_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsShowTrueHotelTelphone" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastestArriveTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="O_IsInstantOrder" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="O_associateOrderID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_buy_time" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="O_buy_type" type="xs:int" />
      <xs:element minOccurs="0" name="O_check_in_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="O_check_out_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="O_ctime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="O_guaranteePrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="O_guest_remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_isbuy" type="xs:boolean" />
      <xs:element minOccurs="0" name="O_night" type="xs:int" />
      <xs:element minOccurs="0" name="O_number" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MobileInter.Servers.AssistantCls" minOccurs="0" name="O_orderWay" type="q4:EnumOrderWay" />
      <xs:element minOccurs="0" name="O_other_guest_info" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_roomRetain" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="O_state_change_log" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_state_id" type="xs:int" />
      <xs:element minOccurs="0" name="O_title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_total_price" type="xs:decimal" />
      <xs:element minOccurs="0" name="O_unit_price" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="O_user_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_user_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O_user_phone" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MobileInter.Servers.AssistantCls" minOccurs="0" name="OperatorType" nillable="true" type="q5:ArrayOfEnumOrderOperateType" />
      <xs:element minOccurs="0" name="OrderCreateOperator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderCreateOperatorGuid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderSerialNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderStateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Order_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayLasestTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="R_number_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Room_descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Room_id" type="xs:int" />
      <xs:element minOccurs="0" name="Room_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rp_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rp_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rp_price_description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rp_price_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="U_id" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MobileInter.Servers.AssistantCls" minOccurs="0" name="UserSourceFrom" type="q6:EnumUserSourceFrom" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderInfoDTO" nillable="true" type="tns:OrderInfoDTO" />
  <xs:complexType name="ArrayOfOrderInfoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderInfoDTO" nillable="true" type="tns:OrderInfoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderInfoDTO" nillable="true" type="tns:ArrayOfOrderInfoDTO" />
  <xs:complexType name="OrderStateParams">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MobileInter.Servers.AssistantCls" minOccurs="0" name="OrderStateCommon" type="q7:EnumCommonOrderStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderStateParams" nillable="true" type="tns:OrderStateParams" />
  <xs:complexType name="ArrayOfOrderStateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderStateDTO" nillable="true" type="tns:OrderStateDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderStateDTO" nillable="true" type="tns:ArrayOfOrderStateDTO" />
  <xs:complexType name="OrderStateSearchParamsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Integral" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_keyword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isAccount" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isAutoAnsy" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isCanReview" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isCancel" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isConfirm" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isInstant" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isNotify" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isReady" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isSendMail" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isSendSms" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="isTemp" nillable="true" type="xs:boolean" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MobileInter.Servers.AssistantCls" minOccurs="0" name="oper" type="q8:EnumOperator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderStateSearchParamsDTO" nillable="true" type="tns:OrderStateSearchParamsDTO" />
  <xs:complexType name="OrderSearchParamsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CheckTimeBegin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CheckTimeEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateTimeBegin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateTimeEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DayNight" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelBelong" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HotelIDListStr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hotel_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Keyword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastestPayTimeEnd" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastestPayTimeStart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNum" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Order_from" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Order_status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PayStatus" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Room_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rp_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPriceMax" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPriceMin" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="User_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderSearchParamsDTO" nillable="true" type="tns:OrderSearchParamsDTO" />
</xs:schema>