CRS.Sync.Watcher.Service/Service References/WCFMobileServer/MyMobileServer11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://webservice.guest.business.ipegasus.armitage.com" elementFormDefault="qualified" targetNamespace="http://webservice.guest.business.ipegasus.armitage.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19374/MyMobileServer.svc?xsd=xsd15" namespace="http://xfire.super8.com/CrsService" />
  <xs:complexType name="DcPublicGet">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dcPublics" nillable="true" type="tns:ArrayOfDcPublic" />
      <xs:element minOccurs="0" name="errorKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorMsgEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorMsgZh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" type="xs:int" />
      <xs:element minOccurs="0" name="tax" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcPublicGet" nillable="true" type="tns:DcPublicGet" />
  <xs:complexType name="ArrayOfDcPublic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DcPublic" nillable="true" type="tns:DcPublic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDcPublic" nillable="true" type="tns:ArrayOfDcPublic" />
  <xs:complexType name="DcPublic">
    <xs:sequence>
      <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="seqid" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DcPublic" nillable="true" type="tns:DcPublic" />
  <xs:complexType name="HotelGet">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorMsgEn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="errorMsgZh" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hotelDTOs" nillable="true" type="tns:ArrayOfHotelDTO" />
      <xs:element minOccurs="0" name="result" type="xs:int" />
      <xs:element minOccurs="0" name="tax" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelGet" nillable="true" type="tns:HotelGet" />
  <xs:complexType name="ArrayOfHotelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelDTO" nillable="true" type="tns:HotelDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotelDTO" nillable="true" type="tns:ArrayOfHotelDTO" />
  <xs:complexType name="HotelDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDescript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EIntro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EPolicy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="attrib" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="attribCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="attribEName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="beds" type="xs:long" />
      <xs:element minOccurs="0" name="begDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="bookingEngineUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bounsItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="checkInTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="checkOutTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="circumjacent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cityArea" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cityCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cityEName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="commission" type="xs:float" />
      <xs:element minOccurs="0" name="commissionMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="countryEName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ctitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="descript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="distance" type="xs:double" />
      <xs:element minOccurs="0" name="district" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eDescript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eIntro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="eName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ePolicy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="epreferentialDesc" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://xfire.super8.com/CrsService" minOccurs="0" name="epreferentialPic" nillable="true" type="q1:ArrayOfString" />
      <xs:element minOccurs="0" name="etcoef" type="xs:float" />
      <xs:element minOccurs="0" name="etitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fax" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fbcoef" type="xs:float" />
      <xs:element minOccurs="0" name="hightStar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hotelCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hotelId" type="xs:long" />
      <xs:element minOccurs="0" name="intro" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="landMark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="landMarkCname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="landMarkEname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="locale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lowStar" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lowestPrice" type="xs:double" />
      <xs:element minOccurs="0" name="otcoef" type="xs:float" />
      <xs:element minOccurs="0" name="photo1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="photo2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="photo3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="policy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="preferentialDesc" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://xfire.super8.com/CrsService" minOccurs="0" name="preferentialPic" nillable="true" type="q2:ArrayOfString" />
      <xs:element minOccurs="0" name="region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regionCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="regionEName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rmSourceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rmSourceTypeCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rmSourceTypeEName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rmcoef" type="xs:float" />
      <xs:element minOccurs="0" name="rooms" type="xs:long" />
      <xs:element minOccurs="0" name="seats" type="xs:long" />
      <xs:element minOccurs="0" name="seqId" type="xs:long" />
      <xs:element minOccurs="0" name="serviceMark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceMarkCname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serviceMarkEname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="star" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="starcname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="starename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stateCName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stateEName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ttcoef" type="xs:float" />
      <xs:element minOccurs="0" name="webOpen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="webOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="website" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="wsUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelDTO" nillable="true" type="tns:HotelDTO" />
</xs:schema>