CRS.Sync.Watcher.Service/Service References/WCFMobileServer/MyMobileServer6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MobileInter.Servers.MyDTO.ReviewDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MobileInter.Servers.MyDTO.ReviewDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReviewKeyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="hotel_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="recommend_type" type="xs:boolean" />
      <xs:element minOccurs="0" name="room_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReviewKeyRequest" nillable="true" type="tns:ReviewKeyRequest" />
</xs:schema>