CRS.Sync.Watcher.Service/Service References/WCFMobileServer/MyMobileServer7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MobileInter.Servers.MyDTO.RatePlanDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MobileInter.Servers.MyDTO.RatePlanDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19374/MyMobileServer.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/MobileInter.Servers.MyDTO.BaseDTO" />
  <xs:import schemaLocation="http://localhost:19374/MyMobileServer.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/MobileInter.ThirdInterface.Service" />
  <xs:complexType name="Guarantee_rule">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MobileInter.Servers.MyDTO.BaseDTO" minOccurs="0" name="Changerule" nillable="true" type="q1:GuaranteeRuleChangeRule" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MobileInter.ThirdInterface.Service" minOccurs="0" name="DateType" type="q2:EnumDateType" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GuaranteePayType" type="tns:Guarantee_PayTypeEnum" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MobileInter.ThirdInterface.Service" minOccurs="0" name="GuaranteeType" type="q3:EnumGuaranteeMoneyType" />
      <xs:element minOccurs="0" name="IsAmountGuarantee" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTimeGuarantee" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTomorrow" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="WeekSet" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Guarantee_rule" nillable="true" type="tns:Guarantee_rule" />
  <xs:simpleType name="Guarantee_PayTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CreditCard" />
      <xs:enumeration value="Alipay" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Guarantee_PayTypeEnum" nillable="true" type="tns:Guarantee_PayTypeEnum" />
</xs:schema>