CRS.Sync.Watcher.Service/Service References/WCFMobileServer/MyMobileServer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MobileInter.Servers.MyDTO.ThirdInterfaceDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MobileInter.Servers.MyDTO.ThirdInterfaceDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19374/MyMobileServer.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MobileInter.Servers.AssistantCls" />
  <xs:import schemaLocation="http://localhost:19374/MyMobileServer.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/MobileInter.ThirdInterface.Service" />
  <xs:complexType name="ValidateCodeMappingDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpireTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HandPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MobileInter.Servers.AssistantCls" minOccurs="0" name="SendType" type="q1:EnumSendType" />
      <xs:element minOccurs="0" name="SendedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidateTypeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateCodeMappingDTO" nillable="true" type="tns:ValidateCodeMappingDTO" />
  <xs:complexType name="EmailSMSTemplateCategoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsGroup" type="xs:boolean" />
      <xs:element minOccurs="0" name="TemplateCategoryKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemplateCategoryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailSMSTemplateCategoryDTO" nillable="true" type="tns:EmailSMSTemplateCategoryDTO" />
  <xs:complexType name="ArrayOfEmailSMSTemplateCategoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailSMSTemplateCategoryDTO" nillable="true" type="tns:EmailSMSTemplateCategoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailSMSTemplateCategoryDTO" nillable="true" type="tns:ArrayOfEmailSMSTemplateCategoryDTO" />
  <xs:complexType name="ValidateTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="TemplateID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ValidateTypeKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidateTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateTypeDTO" nillable="true" type="tns:ValidateTypeDTO" />
  <xs:complexType name="ArrayOfValidateTypeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidateTypeDTO" nillable="true" type="tns:ValidateTypeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValidateTypeDTO" nillable="true" type="tns:ArrayOfValidateTypeDTO" />
  <xs:complexType name="EmailSMSTemplatesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailTemplateContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="SMSTemplateContent" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MobileInter.Servers.AssistantCls" minOccurs="0" name="SystemID" type="q2:EnumSystemID" />
      <xs:element minOccurs="0" name="TemplateCatagoryID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailSMSTemplatesDTO" nillable="true" type="tns:EmailSMSTemplatesDTO" />
  <xs:complexType name="ArrayOfEmailSMSTemplatesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmailSMSTemplatesDTO" nillable="true" type="tns:EmailSMSTemplatesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmailSMSTemplatesDTO" nillable="true" type="tns:ArrayOfEmailSMSTemplatesDTO" />
  <xs:complexType name="SendInfosDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplyTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MobileInter.Servers.AssistantCls" minOccurs="0" name="IsAudit" type="q3:EnumAudit" />
      <xs:element minOccurs="0" name="LasestSendTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoopSendInterval" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LoopSendIntervalUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoopSendedTimeCollection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanSendTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PlanToSendCnt" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SendCharacterLength" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SendContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendPriority" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SendRuleID" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MobileInter.Servers.AssistantCls" minOccurs="0" name="SendRuleType" type="q4:EnumSendRuleType" />
      <xs:element minOccurs="0" name="SendTimeDateTime" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MobileInter.Servers.AssistantCls" minOccurs="0" name="SendType" nillable="true" type="q5:EnumSendType" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MobileInter.Servers.AssistantCls" minOccurs="0" name="SendWay" nillable="true" type="q6:EnumSendWay" />
      <xs:element minOccurs="0" name="SendedCnt" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SourceIDName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VerityCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendInfosDTO" nillable="true" type="tns:SendInfosDTO" />
  <xs:complexType name="SendRuleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoopSendInterval" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LoopSendIntervalUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlanToSendCnt" nillable="true" type="xs:int" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MobileInter.Servers.AssistantCls" minOccurs="0" name="SendRuleType" type="q7:EnumSendRuleType" />
      <xs:element minOccurs="0" name="SendTimeDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SendedCnt" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendRuleDTO" nillable="true" type="tns:SendRuleDTO" />
  <xs:complexType name="CreateElongOrderParamsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cin" type="xs:dateTime" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MobileInter.ThirdInterface.Service" minOccurs="0" name="ConfirmType" type="q8:EnumConfirmationType" />
      <xs:element minOccurs="0" name="ContactEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContantMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContantName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cout" type="xs:dateTime" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MobileInter.ThirdInterface.Service" minOccurs="0" name="Currency" type="q9:EnumCurrencyCode" />
      <xs:element minOccurs="0" name="CustomerIPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EarliestArrivalTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EstayOrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GuestNames" nillable="true" type="xs:string" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MobileInter.ThirdInterface.Service" minOccurs="0" name="GuestType" type="q10:EnumGuestTypeCode" />
      <xs:element minOccurs="0" name="HotelId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LatestArrivalTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NumOfRooms" type="xs:int" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MobileInter.ThirdInterface.Service" minOccurs="0" name="PaymentType" type="q11:EnumPaymentType" />
      <xs:element minOccurs="0" name="RoomTypeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RpId" type="xs:int" />
      <xs:element minOccurs="0" name="totalPrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateElongOrderParamsDTO" nillable="true" type="tns:CreateElongOrderParamsDTO" />
  <xs:complexType name="CreditCardDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpirationMonth" type="xs:int" />
      <xs:element minOccurs="0" name="ExpirationYear" type="xs:int" />
      <xs:element minOccurs="0" name="HolderName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNo" nillable="true" type="xs:string" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MobileInter.ThirdInterface.Service" minOccurs="0" name="IdType" type="q12:EnumIdType" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCardDTO" nillable="true" type="tns:CreditCardDTO" />
  <xs:complexType name="ElongValidateOrderParamsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EarliestArrivalTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LatestArrivalTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="RatePlanId" type="xs:int" />
      <xs:element minOccurs="0" name="RoomTypedId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hotelId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="roomsNumber" type="xs:int" />
      <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ElongValidateOrderParamsDTO" nillable="true" type="tns:ElongValidateOrderParamsDTO" />
</xs:schema>