CRS.Sync.Watcher.Service/Service References/WCFMobileServer/MyMobileServer3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MobileInter.Servers.MyDTO.CommentDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MobileInter.Servers.MyDTO.CommentDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CommentParamsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Hotel_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Room_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="currentPage" type="xs:int" />
      <xs:element minOccurs="0" name="pageSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommentParamsDTO" nillable="true" type="tns:CommentParamsDTO" />
</xs:schema>